.form__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form__heading{
    /* color: rgb(139, 140, 137); */
    color: rgb(96, 150, 186);
    font-size: 80px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Barriecito', cursive;
    font-weight: bolder;
    letter-spacing: -5px;
}
.form__textarea{
    display: flex;
}
.form__textarea > textarea,.txt{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    /* background-color: rgb(139, 140, 137); */
    /* background-color: rgb(96, 150, 186); */
    /* color: white; */
    outline: none;
}
.form__textarea > textarea::placeholder{
    /* color: white; */
}
.line{
    width: 1px;
    height: 20px;
    background-color: gray;
}
.form__language__selection{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.form__select{
    border: none!important;
    outline: none!important;
    background: none!important;
   
    color: rgb(96, 150, 186);
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(96, 150, 186)!important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form__container > span{
    margin: 40px auto;
}
@media screen and (max-width:1000px){
    .form__heading{
        font-size: 60px;
    }
}

@media screen and (max-width:840px){
    .form__heading{
        font-size: 40px;
        letter-spacing: -5px;
    }
    
    .form__container{
        margin: 80px auto;
    }
    .form__textarea{
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }
    .form__container > form{
        width: 80%;
    }
    
    .form__language__selection{
        flex-direction: column;
    }
    .f{
        margin-right: 0px;
    }
    .s{
        margin-left: 0px;
        flex-direction: row!important;
    }
    .s > div{
        margin-left: 0px;
        margin-right: 1rem;
    }
    .line{
        display: none;
    }
    .p{
        margin: 20px auto;
    }
    .form__select{
        padding: 10px;
    }
    .fa-solid{
        font-size: 1.5em;
    }
}

@media screen and (max-width:490px) {
    .dpf{
        flex-direction: column!important;

    }
    .dpf > button{
        margin-top: 10px!important;
        margin-bottom: 10px!important;
    }
}