.middle__container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.first__container > h1{
    color: rgb(96, 150, 186);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Barriecito', cursive;
    font-weight: bolder;
    font-size: x-large;
    width: 30%;
    letter-spacing: -1px;
}
.first__container{
    min-width: 80vw;
    margin: auto;
    padding: 20px;
    justify-content: center;
    column-gap: 60px;
}

.first__container > span{
    max-width: 35%;
    text-align: left;
    font-size: x-large;
}


@media screen and (max-width:1280px){
    .first__container > span{
        min-width: 90%;
    }
    .first__container > h1{
        min-width: 90%;
    }
    .first__container{
        margin-left: 40px;
        align-items: center;
    }

}


@media screen and (max-width:720px){
    
    .first__container > span{
        min-width: 100%;
    }
    .first__container > h1{
        min-width: 100%;
    }
    
}
@media screen and (max-width:600px){
    .first__container{
        margin-left: 0px;
        width: 100vw;
    }
    .first__container > span{
        font-size: large;
    }
    .first__container > h1{
        font-size: x-large;
    }
   
}

